<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/css/bootstrap.min.css' %}">
    <title>Stream</title>
    <style>
        .body {
            background-image: url("{% static 'home/img/5560141.jpg' %}");
            background-size: cover;
            background-repeat: no-repeat;

        }
    </style>
</head>
<body class='body'>
<div class="container">
    <div class="row" style="margin-top:120px; margin-left: 100px;">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <img src="{% static 'home/img/camera-ip-mi-home-360-do-1080p-xiaomi-bhr4885gl-2-2-org.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title text-center">Video Stream</h5>
                  <p class="card-text text-center">Please go out with a mask on your face and wear it properly</p>
                  <div class='text-center'>
                    <a href="video" class="btn btn-primary">Check mask</a>
                  </div>
                </div>
              </div>
        </div>
    </div>
</body>
</html>